{% extends "templates/base.jinja" %}
{% block content %}
<div class="row">
  <div class="span12">

    <article class="title">
      <div class="breadcrumbs">
	<a href="index.php">Index</a> > <a href="Xgene.php">Polymorphism family</a> > <a href="Xpoly.php">Gene</a> > <a href="displayPoly.php">Polymorphism</a>
      </div>

      <h1>Polymorphism: {{id}}</h1>
      <p>
	Nearest previously reported germline allele: {{closest}}<br/>
	Substitution mutations between {{id}} and {{closest}} are shown in red and upper case, sequence insertions or extensions are shown in blue/italics.<br/>
	Reference paper(s): <a href="displayRef.php?type=0&id=1">1</a><br/>
	Reference study:
	{% for cite in citations %}
	{%- if cite in references -%}
	<a href="{{ ref.href }}">{{ item.caption }}</a>
	{%- endif %}
	{% endfor %}


	{{references}}<br/>

	<div class="pull-right">
	  <div class="btn-group">
	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Action
              <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
              <li><a href="">Download FASTSA sequence</a></li>
              <li><a href="">Download PHYLIP sequence</a></li>
              <li class="divider"></li>
              <li><a href="">Download Gene Record</a></li>
	    </ul>
	  </div>
	</div>

	Sequence: <br/>
	<div class="seq">>{{id}}<br/>
	  <code>
{{sequence | wordwrap(wrapstring="<br/>") }}
	  </code>
	</div></p>
    </article>
  </div>
  {% endblock %}

